@model GestorParaVentaDeLoteria.Modelo.SorteosHistorico

@{
    ViewBag.Title = "ActivarSorteo";
}

<h2>ActivarSorteo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>SorteosHistorico</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IdSorteo)
    @Html.HiddenFor(model => model.Id_AspNetUser)
    @Html.HiddenFor(model => model.TipoDeModificacion)
    @Html.HiddenFor(model => model.FechaDeModificacion)
    @Html.HiddenFor(model => model.Sorteos)

    <div class="form-group">
        @Html.Label("Descripcion de la modificacion")
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescripcionDeLaModificacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescripcionDeLaModificacion, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
